*{
    margin: 0%;

}
.box1,.box3{
    height: 40vh;
    width: 30vw;
    background-color: rgb(224, 64, 64);
    display: inline-block;
}
.box2,.box4{
    height: 40vh;
    width: 62.5vw;
    background-color: rgb(224, 64, 64);
    display: inline-block;
    
    
}
.box3,.box4{
    margin-top:20vh ;
}
.box2,.box4{
        margin-left:6.4vw ;
}